# Tableau Server & Connected App Credentials Template
PORT=3000
TABLEAU_SERVER_URL=https://data-statistik.jakarta.go.id
TABLEAU_CLIENT_ID=your_client_id_here
TABLEAU_SECRET_ID=your_secret_id_here
TABLEAU_SECRET_VALUE=your_secret_value_here
TABLEAU_USERNAME=your_tableau_username_here
TABLEAU_DEFAULT_VIEW_URL=https://data-statistik.jakarta.go.id/views/Superstore/Overview
